DB_HOST=
DB_BASE=
DB_USER=
DB_PASSWORD=
DB_DIALECT=

SECRET

PORT=

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=


DB_HOST_DELSOFT=
DB_BASE_DELSOFT=
#DB_BASE_DELSOFT=
DB_USER_DELSOFT=
DB_PASSWORD_DELSOFT=
DB_DIALECT_DELSOFT=

ZBR_USER=
ZBR_PWD=  
ZBR09_USER=
ZBR09_PWD=

ALLOWED_ORIGINS=