<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="./images/server.png" /> <!-- {{!-- ICONE DA PAGINA --}} -->
    <link rel="stylesheet" href="../stylesheets/geral.css"> <!-- CARREGA O CSS GERAL -COMUM DE TODAS AS PÁGINAS-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SERVIDOR</title>
  </head>
  <body>
    <div id="root">
      <div id="content">
        <h1>SERVIDOR DE APLICAÇÕES BACK-END</h1> 
      </div>
    </div>
  </body>
</html>